{% extends 'base.html.twig' %}

{% block title %}Documents - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#grades">Passages des grades</a></li>
            <li><a data-toggle="tab" href="#exemple">Exemple</a></li>
            <li><a data-toggle="tab" href="#exemple2">Exemple</a></li>
        </ul>
        <div class="tab-content">
            <div id="grades" class="tab-pane fade in active">
                <h3>Passages des grades</h3>
                <a href="{{ path('jaune') }}" target="_blank">Ceinture Jaune</a><br/>
                <a href="{{ path('orange') }}" target="_blank">Ceinture Orange</a><br/>
                <a href="{{ path('verte') }}" target="_blank">Ceinture Verte</a><br/>
                <a href="{{ path('marron') }}" target="_blank">Ceinture Marron</a><br/>
            </div>
            <div id="exemple" class="tab-pane fade">
                <h3>Exemple</h3>
            </div>
            <div id="exemple2" class="tab-pane fade">
                <h3>Exemple</h3>
            </div>
        </div>
    </div>
{% endblock %}
