{% extends 'base.html.twig' %}

{% block title %}Judo - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs flex-column flex-lg-row" id="judoTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="histoireValeurs-tab" data-toggle="tab" href="#histoireValeurs" aria-controls="histoireValeurs" aria-selected="true">Histoire et Valeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cours-tab" data-toggle="tab" href="#cours" aria-controls="cours" aria-selected="false">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="adhésion-tab" data-toggle="tab" href="#adhésion" aria-controls="adhésion" aria-selected="false">Adhésion</a>
            </li>
        </ul>
        <div class="tab-content" id="judoTabContent">
            <div class="tab-pane fade show active" id="histoireValeurs" role="tabpanel" aria-labelledby="histoireValeurs-tab">
                <h3>Histoire du Judo</h3>
                <figure class="figure float-left">
                    <img src="{{ asset('assets/jigoro_kano.jpg') }}" class="figure-img img-fluid" alt="Jigoro Kano">
                    <figcaption class="figure-caption">Jigoro Kano</figcaption>
                </figure>
                <p>
                    Originellement, le judo sappuie sur trois principes fondamentaux : Shin (l'Esprit), Gi (la Technique) et Tai (le Corps).
                    Ces concepts trouvent leur source au sein des écoles de jujitsu Kito-Ryu, Yoshin-Ryu et Tenjin-Shino-Ryu que maître Jigoro Kano
                    a lui-même fréquenté et desquelles il a extrait le Gokyo (Cinq Principes de Techniques), le Koshiki no Kata (Formes des temps anciens)
                    et l'Itsutsu no Kata (Cinq Principes énergétiques).
                </p>
                <p>
                    Jigoro Kano étudia tout dabord auprès de maître Fukuda de l'école de Tenjin-shinyo-Ryu, un disciple d'Iso Mataeman à partir de 1877.
                    Après la mort de son maître, en 1879, on considère que cette école disparue en 1879, après la mort du maitre alors qu'il n'avait pas
                    désigné de successeur.
                </p>
                <p>
                    Jigoro Kano rejoint en 1881 l'école Kito Ryu qui était spécialisée dans le corps à corps. Il y découvrit les techniques de projection
                    (le Nage Waza) et le principe de Seiryoku Zenyo (un maximum defficacité pour un minimum deffort).
                </p>
                <p>
                    Les techniques de cette école font essentiellement parti de l'Atemi Waza (on y référence 124 techniques d'Atemi), de l'Osaekomi Waza
                    (immobilisation au sol) et de Shime Waza (étranglements). On retrouve ainsi son influence dans le Kimeno no Kata (forme self défence du judo).<br/>
                    En 1882, Jigoro Kano effectua une synthèse des différents enseignements qu'il avait reçus et créa sa propre méthode de jujitsu qu'il baptisa
                    « judo » (Voie de la souplesse). Il bâtit son premier dojo qu'il appella le Kodokan (« le lieu où l'on étudie la voie »).<br/>
                </p>
                <p>
                    Au début du XXe siècle, des personnes se sont inquiétées de la disparition de ce savoir, due à la modernisation de l'armée,
                    et ont collecté les techniques de différentes écoles (ryu) de jujitsu pour en faire une pratique moderne, adaptée à la nouvelle société;
                    ainsi naquirent le judo, l'aïkido ou plus récemment le jiu-jitsu brésilien. De par ce fait, le jujitsu est souvent qualifié d'« art-mère ».<br/>
                </p>
                <h3>Le Judo: pour qui ?</h3>
                <figure class="figure float-right">
                    <img src="{{ asset('assets/obi_katakana_ceinture.jpg') }}" class="figure-img img-fluid" alt="Obi - Ceinture">
                    <figcaption class="figure-caption text-right">Obi - Ceinture</figcaption>
                </figure>
                <p>
                    Le Judo peut être pratiqué par tous : enfants (à partir de 5 ans baby-judo), adolescents et adultes, hommes et femmes. Proposé comme art martial, le Judo connaît aujourdhui un réel succès chez les plus jeunes. Les grades sont : ceinture blanche lorsqu'on débute, jaune, orange, verte, bleue, marron et enfin la noire qui comprend plusieurs DAN.<br/>
                    Pour une progression des plus jeunes il y a une normalisation des grades : ceinture blanche à liserés, blanche et jaune, jaune, jaune et orange, orange, orange et verte, verte , verte et bleue, bleue, marron et enfin noire.<br/>
                </p>
                <h3>Les Valeurs du Judo</h3>
                <figure class="text-center">
                    <img src="{{ asset('assets/code_moral_judo.jpg') }}" class="figure-img img-fluid" alt="Code Moral du Judo">
                    <figcaption class="figure-caption">Code Moral du Judo</figcaption>
                </figure>
                <p>
                    Dans sa pratique le judoka est à la recherche du meilleur emploi de l’énergie physique et mentale.<br/>
                    Ce principe suggère l’application à tout problème de la solution la plus pertinente : agir juste au bon moment, utiliser la force et les intentions du partenaire contre lui-même.<br/>
                    Il incite à une recherche constante et dynamique de perfection.
                </p>
                <p>
                    En Judo, les progrès individuels passent par l’entraide et par l’union de notre force et de celle des autres.<br/>
                    La présence du partenaire, du groupe est nécessaire et bénéfique à la progression de chacun
                </p>
                <p>
                    Le grade du judoka est représenté par une triple valeur:<br/>
                    « SHIN », correspondant à la valeur morale,<br/>
                    « GHI », valeur technique,<br/>
                    « TAI », valeur corporelle.<br/>
                    Le « SHIN », cité en premier, donne seul le sens aux deux autres.
                </p>
            </div>
            <div class="tab-pane fade" id="cours" role="tabpanel" aria-labelledby="cours-tab">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">SALLE DEBEYRE</h3>
                        <h4>Horaires Saison 2018-2019:</h4>
                        Lundi 18h45-20h15: Cours Judo Adultes (nés avant 2005)<br/>
                        Mercredi 13h30-14h30: Cours Judo Poussins (enfants nés en 2010-2011)<br/>
                        Mercredi 14h30-15h30: Cours Judo Benjamins/Minimes (enfants nés de 2006 à 2009)<br/>
                        Mercredi 20h-21h30: Cours Judo Adultes<br/>
                        Samedi 13h30-14h30: Cours Judo Babys (enfants nés en 2014-2015)<br/>
                        Samedi 14h30-15h30: Cours Judo Mini-Poussins (enfants nés en 2012-2013)<br/>
                        Samedi 15h30-16h30: Cours Judo Poussins<br/>
                        <h4>Localisation:</h4>
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.75805227567!2d3.071911315859676!3d50.63161128217546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d58cd174730f%3A0xf0f98712dd300f10!2sSports%20de%20contact%20Lille%20Etudiants%20Club!5e0!3m2!1sfr!2sfr!4v1594216294738!5m2!1sfr!2sfr"
                                    frameborder="0"
                                    width="100%"
                                    height="400"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="text-center">SALLE DEFAUCOMPRET</h3>
                        <h4>Horaires Saison 2018-2019:</h4>
                        Mercredi 11h-12h40: Cours Babys-Mini Poussins (2012-2015)<br/>
                        Mercredi 13h30-14h30: Cours Judo Babys (2014-2015)<br/>
                        Mercredi 14h30-15h30: Cours Judo Mini-Poussins (2012-2013)<br/>
                        Mercredi 15h30-16-30: Cours Judo Poussins/Benjamins (Enfants nés de 2008 à 2011)<br/>
                        Mercredi 16h30-18h: Cours Judo Ado-Adultes Loisirs<br/>
                        Vendredi 18h-19h30: Cours Judo Ado-Adultes (Ne-waza, Kata)<br/>
                        Vendredi 19h30-21h: Cours Judo Adultes (nés avant 2005)<br/>
                        Samedi 13h30-14h30: Cours Judo Babys (Enfants nés en 2014-2015)<br/>
                        Samedi 14h30-15h30: Cours Judo Mini-Poussins (Enfants nés en 2012-2013)<br/>
                        Samedi 15h30-16h30: Cours Judo Poussins/Benjamins (Enfants nés de 2008 à 2011)<br/>
                        Samedi 16h30-17h30: Cours Judo Benjamins/Minimes (Enfants nés de 2006 à 2009)<br/>
                        Samedi 17h30-19h: Cours Judo Préparation Grades<br/>
                        <h4>Localisation:</h4>
                        <div class="text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10123.531260071102!2d3.0872175!3d50.6292937!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa09394f92c9509f!2sComplexe%20sportif%20Auguste%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1594217549823!5m2!1sfr!2sfr"
                                    frameborder="0"
                                    width="100%"
                                    height="400"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="adhésion" role="tabpanel" aria-labelledby="adhésion-tab">
                <h3>Inscription</h3>
                <a href="{{ path('downloadInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
