{% extends 'base.html.twig' %}

{% block title %}Ne-Waza - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#histoireValeurs">Histoire et Valeurs</a></li>
            <li><a data-toggle="tab" href="#cours">Cours</a></li>
            <li><a data-toggle="tab" href="#adhésion">Adhésion</a></li>
        </ul>
        <div class="tab-content">
            <div id="histoireValeurs" class="tab-pane fade in active">
                <h3>Histoire et Valeurs</h3>
            </div>
            <div id="cours" class="tab-pane fade">
                <h3>Cours</h3>
            </div>
            <div id="adhésion" class="tab-pane fade">
                <h3>Adhésion</h3>
            </div>
        </div>
    </div>
{% endblock %}
