{% extends 'base.html.twig' %}

{% block title %}Adhésion - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#judo">Judo</a></li>
            <li><a data-toggle="tab" href="#jujitsu">Ju Jitsu</a></li>
            <li><a data-toggle="tab" href="#taiso">Taiso</a></li>
            <li><a data-toggle="tab" href="#newaza">Ne Waza</a></li>
        </ul>
        <div class="tab-content">
            <div id="judo" class="tab-pane fade in active">
                <h3>Inscription Judo</h3>
                <a href="{{ path('downloadJudoInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
            <div id="jujitsu" class="tab-pane fade">
                <h3>Inscription Ju Jitsu</h3>
                <a href="{{ path('downloadJudoInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
            <div id="taiso" class="tab-pane fade">
                <h3>Inscription Taiso</h3>
                <a href="{{ path('downloadJudoInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
            <div id="newaza" class="tab-pane fade">
                <h3>Inscription Ne Waza</h3>
                <a href="{{ path('downloadJudoInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
