{% extends 'base.html.twig' %}

{% block title %}Adhésion - Lille Judo{% endblock %}

{% block stylesheets %}
    <style>
        .octagon {
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">
            Tu veux te joindre à nous ? Télécharge la fiche d'inscription <strong><a href="{{ path('downloadInscription') }}" target="_blank">ici</a></strong> !
        </h2>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
{% endblock %}