{% extends 'base.html.twig' %}

{% block title %}Compétitions - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#judo">Judo</a></li>
            <li><a data-toggle="tab" href="#jujitsu">Ju Jitsu</a></li>
            <li><a data-toggle="tab" href="#taiso">Taiso</a></li>
            <li><a data-toggle="tab" href="#newaza">Ne Waza</a></li>
        </ul>
        <div class="tab-content">
            <div id="judo" class="tab-pane fade in active">
                <h3>Compétitions Judo</h3>
            </div>
            <div id="jujitsu" class="tab-pane fade">
                <h3>Compétitions Ju Jitsu</h3>
            </div>
            <div id="taiso" class="tab-pane fade">
                <h3>Compétitions Taiso</h3>
            </div>
            <div id="newaza" class="tab-pane fade">
                <h3>Compétitions Ne Waza</h3>
            </div>
        </div>
    </div>
{% endblock %}
