{% extends 'base.html.twig' %}

{% block title %}Boutique - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger text-center" role="alert">
            Pour tout achat, veuillez contacter votre enseignant.
        </div>
        <div class="row text-center justify-content-center">
            {% for boutique in boutiques %}
                <div class="col-lg-4">
                    <img class="img-fluid img-thumbnail"
                         src="{{ asset('uploads/boutique/') }}{{ boutique.image }}"
                         alt="">
                    <p><strong>{{ boutique.objet }}</strong></p>
                    <p>
                        {{ boutique.prix }}€
                    </p>
                </div>
            {% else %}
                <div class="col-lg-4">
                    <img class="img-fluid img-thumbnail"
                         src="http://placehold.it/140x140"
                         alt="">
                    <p>
                        no records found
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
