{% extends 'base.html.twig' %}

{% block title %}Bureau - Lille Judo{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <span class="font-weight-bold">Président:</span> BONTE Thomas
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Trésorier:</span> PAPEGAY Benoit
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Secrétaire:</span> LECLERCQ Marie
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Secrétaire Adjointe:</span> MAQUERRE Béatrice
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
