{% extends 'base.html.twig' %}

{% block title %}Contact - Lille Judo{% endblock %}

{% block body %}
    <div class="container text-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Send"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
