{% extends 'base.html.twig' %}

{% block title %}Contact - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <h2>Contact</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer"/>
        {{ form_end(form) }}
    </div>
    <div class="container text-center">
        <h2>Réseaux</h2>
        <a href="https://www.facebook.com/pages/category/Amateur-Sports-Team/LUC-Judo-335783152973/" target="_blank">
            <img src="{{ asset('assets/fb_logo.png') }}"
                 class="img-fluid"
                 alt="FB Logo">
        </a>
    </div>
{% endblock %}
