{% extends 'base.html.twig' %}

{% block title %}Enseignants - Lille Judo{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <span class="font-weight-bold">Directeur Technique Compétitions Adultes:</span> BONTE Thomas, 2ème Dan, DE
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Directeur Technique Enseignement et Pédagogie:</span> MAZURIER Alexandre, 2ème Dan, DE
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Directeur Technique Ne-Waza:</span> PFANZELT Helmut, 4ème Dan, CQP
                </li>
            </ul>
        </div>
        <h2 class="text-center">Professeurs</h2>
        <div class="container">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    DEPRY Pacôme, 2ème Dan, BE 1
                </li>
                <li class="list-group-item">
                    LABIAUX Lydéric, 2ème Dan, CQP
                </li>
                <li class="list-group-item">
                    SOENNE Philippe, 2ème Dan, BE 1
                </li>
                <li class="list-group-item">
                    DELAUNAY Raphael, 2ème Dan, BE 1
                </li>
                <li class="list-group-item">
                    LABIAUX Chloé, 2ème Dan, CQP
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
